@import-normalize;

@import "./colors";
@import "./container";
@import "./mixin";
@import "./fonts";

* {
  font-family: "Gilroy";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Gilroy";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-body;
}

code {
  font-family: "Gilroy";
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}
